/*
* After modifying this style sheet, refresh the page being designed to see the effect of the modification.
* Click the Refresh button in the Visual Designer toolbar to refresh the page.
*/ 

/* Style rules to make Java Server faces Standarad data tables look better */

/* ----------------------- new style from--------------------------------------------------------*/

/* header */
.header {
   background-color: #333333;
   border: 1px dotted #CEC0C0;
   width: 100%;
   height: 50px;
}

.headergrid {
   height: 200px;
}

.appname {
   font-size: 24px;
   text-transform: uppercase;
   color: white
}

/* sub header */
.subheader {
   background-color: #ffffff;
   text-align: right;
   width: 100%;
   height: 20px;
   border: 1px dotted #CEC0C0;
}

.subheadertext {
   color: #FFFFFF !important;
   font-size: 10px!important;
   font-weight: bold !important;
   padding-left: 10px;
   padding-right: 10px;
}

.subheaderlink {
   background-color: #666666;
}

.contents {
   background-color: #E9E9D1;
   border: 1px dotted #CEC0C0;
   width: 100%;
   vertical-align: top;
}

/* footer */
.footer {
   background-color: #333333;
   text-align: right;
   width: 100%;
   height: 20px;
   border: 1px dotted #CEC0C0;
}

.footertext {
   color: #ffffff !important;
   font-size: 10px!important;
   font-weight: bold !important;
   padding-left: 10px;
   padding-right: 10px;
   border-left: 1px solid #FEB300;
}

.messagelist{
        left: 810px;
        top: 150px;
        position: fixed;
}

/* -----------------------new style end --------------------------------------------------------*/

.topLevelGrid{
/*
    left: 24px;
    top: 5px;
    position: absolute;

*/
    width: 100%;
}

td {
    /* これってすべての表に適用されてしまう。
    * top 以外にしたいときは以下のようなものをつくってそこで宣言し、中央に表示させたい
    コンポーネントの上のコンポーネント（GridPanelとか）で、 .hoge というクラスで の
    StyleClass としてセットして、その上で以下の .hoge 配下の td として指定してやる。
    td は明示的に指定できるコンポーネントがないので、上位のコンポーネントで td をしていする
    .hoge td {
    vertical-align: center;
    }
    */
    vertical-align: top;
}

/**表用 水平を真ん中に */
table.midde {
    vertical-align: middle;
}
table.middle td {
    vertical-align: middle;
}

/**表用 水平を左つきに */
table.left {
    border-collapse: collapse;
    width: 100%;
}
table.left th{
    background-color:#333333;
    font-size:14px;
    color:white;
    padding:2px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
}
table.left td {
/*    background-image:url(../resources/dndback01.jpg); */
   background-color: #E9E9D1;
    font-size:12px;
    text-align:left;
    padding:2px;
    vertical-align:middle;
}

/**表用。 */
table.w {
    border-collapse: collapse;
    width: 100%;
}
table.w th{
    background-color:#333333;
    font-size:14px;
    color:white;
    padding:2px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
}
/**上下線あり */
table.w td{
/*    background-image:url(../resources/dndback01.jpg);*/
    background-color: #E9E9D1;
    font-size:12px;
    text-align:center;
    padding:2px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    vertical-align:middle;
}

table.g{
    border-collapse: collapse;
    width: 100%;
}
table.g th{
    background-color:#333333;
    font-size:16px;
    color:white;
    padding:4px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    text-align: center;
}
table.g td{
   background-color: #E9E9D1;
    font-size:18px;
    text-align:center;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    vertical-align:middle;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

table.q td{
   background-color: #E9E9D1;
    font-size:12px;
    text-align:center;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    vertical-align:middle;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

table.p{
    border-collapse: collapse;
    width: 100%;
}

table.p th{
    background-color:#333333;
    font-size:16px;
    color:white;
    padding:4px;
    text-align: center;
}

table.p td{
/*    background-image:url(../resources/dndback02.jpg); */
   background-color: #E9E9D1;
    font-size:18px;
    text-align:center;
    vertical-align:middle;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

table.b td{
    background-color:#333333;
    font-size:18px;
    text-align:center;
    vertical-align:middle;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    color: #ffffff;
}


table.waku{
    border-collapse: collapse;
    padding:2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-color: #333333;
    border-bottom-color: #333333;
    border-left-color: #333333;
    border-right-color: #333333;
    width: 100%;
}

table.waku th{

}

table.waku td{

}

/**表用. w と同じだが、左右にもボーダーをつけている*/
table.border{
    border-collapse: collapse;
    width: 100%;
}
table.border th{
    background-color:#333333;
    font-size:14px;
    color:white;
    padding:2px;
}
table.border td{
   background-color: #E9E9D1;
    font-size:12px;
    text-align:center;
    /* padding:2px; */
    vertical-align:middle;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

/**表用. border と同じだが、ボーダーの色を背景と同じ（つまり非表示）にしている*/
table.noborder{
    border-collapse: collapse;
    width: 100%;
}

table.noborder th{
    background-color:#333333;
    font-size:14px;
    color:white;
    padding:2px;
}

/* w と同じだが、左右にもボーダーをつけている */
table.noborder td{
/*    background-image:url(../resources/dndback01.jpg);*/
   background-color: #E9E9D1;
    font-size:12px;
    text-align:center;
    /* padding:2px; */
    vertical-align:middle;
    border-bottom: 1px solid #E9E9D1;
    border-top: 1px solid #E9E9D1;
    border-left: 1px solid #E9E9D1;
    border-right: 1px solid #E9E9D1;
}

.skill-row-even {
/*    background-image:url(../resources/dndback01.jpg); */
    background-color: #E9E9D1;
    font-size:12px;
    padding:2px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    vertical-align:middle;
    text-align: center;
}

.skill-row-odd {
/*    background-image:url(../resources/dndback02.jpg); */
       background-color: #FFFFFF;
    font-size:12px;
    padding:2px;
        border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    vertical-align:middle;
    text-align: center;
}

.charaList-col-normal {
}
.charaList-col-200 {
    width: 200px;
}

.p{
/*    background-image:url(../resources/dndback02.jpg); */
       background-color: #E9E9D1;
    font-size:18px;
    text-align:center;
    vertical-align:middle;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 100%;
    height: 100%;
}

.blackback{
    background-color:#333333;
    font-size:18px;
    text-align:center;
    vertical-align:middle;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 100%;
    height: 100%;
    color: #ffffff;
}



.nomalColumn{
/*    background-image:url(../resources/dndback01.jpg); */
       background-color: #E9E9D1;
    font-size:12px;
    text-align:center;
    padding:2px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    vertical-align:middle;
}

.black {
    font-size:18px;
    font-weight: bold;
}

/* 表の上につけるタイトル用 文字は白*/
.tableTitleBlack {
    color:#FFFFFF;
    text-align:center;
    line-height:17px;
    padding:5px;
    font-weight:bold;
    font-size:17px;
}

/* 表の上につけるタイトル用 文字は白*/
.tableTitleBlackMiddle {
    color:#FFFFFF;
    text-align:center;
    font-weight:bold;
    font-size:12px;
    vertical-align: middle;
}

.tableTitleBlackMiddle td {
    vertical-align: middle;
}

/* 表の上につけるタイトル用 文字は白 パディングとかなし*/
.tableTitleBlackNopad {
    background-color: #333333;
    color:#FFFFFF;
    text-align:center;
    font-weight:bold;
    vertical-align: middle;
}

.tableGrid{
    background-color: #333333;
    text-align: center;
    width:100%;
}

.tableGridTitle{
    background-color: #333333;
    text-align: center;
    color: #ffffff;
    font-weight:bold;
    font-size: 12px;
    vertical-align: middle;
}

.t{

    font-size:16px;
    padding:5px;
    background-color: #CCCC99;
}
.n{
    font-size:12px;
    font-weight:normal;
}
.s{
    font-size:10px;
    font-weight:normal;
}
.si{
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
}
.sl{
    font-size:10px;
    font-weight:normal;
    text-align:left;
    padding-left:5px;
}
.sr{
    font-size:10px;
    font-weight:normal;
    text-align:right;
}
.r{
    text-align:right;
}
.l{
    text-align:left;
}

.a{
    text-align:left;
    line-height:17px;
    padding:5px;
}

/*bold */
.b{
    text-align:center;
    font-weight:bold;
    font-size:24px;
}

/* Font 17px */
.c{
    text-align:center;
    line-height:17px;
    padding:5px;
    font-weight:bold;
    font-size:17px;
}




/*
.list-paging-header {
background-color: white;
}

.list-paging-footer {
background-color: white;
}

.list-row-even { 
}

.list-row-odd { 
background-color: #eeeeee;
}
*/

/* Style rules for message severity levels */

.infoMessage {
    color: black;
}

.warnMessage {
    color: orange;
    font-weight: bold;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.fatalMessage {
    color: red;
    font-style: italic;
    font-weight: bold;
}

.topLevelGridPrint{
    font-size: 9px;
    color: #999999;
    width:800px;

}

.tableGridPrint{
    text-align: center;
    width:100%;
}

/* 表の上につけるタイトル用 文字は白*/
.tableTitleBlackMiddlePrint {
    text-align:center;


    vertical-align: middle;
}

.tableTitleBlackMiddlePrint td {
    vertical-align: middle;
}

/* 表の上につけるタイトル用 文字は白*/
.tableTitleBlackMiddlePrint {
    text-align:center;


    vertical-align: middle;
}

.tableTitleBlackMiddlePrint td {
    vertical-align: middle;
}

table.gPrint{
    border-collapse: collapse;
    width: 100%;
}

table.gPrint th{

    padding:4px;
/*    border-bottom: 1px solid #333333; */
    border-top: 1px solid #333333;
    text-align: center;
}

table.gPrint td{

    text-align:center;
    border-bottom: 1px solid #333333;
/*    border-top: 1px solid #333333; */
    vertical-align:middle;
    padding-top: 2px; 
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}


table.pPrint{
    border-collapse: collapse;
    width: 100%;
}

table.pPrint th{

    padding:4px;
    text-align: center;
}

table.pPrint td{

    text-align:center;
    vertical-align:middle;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.bPrint {
    font-size: 12px;
    color:black;
    font-weight:bold;
}


table.aPrint{
    border-collapse: collapse;
    width: 100%;
}

table.aPrint th{
    color: black;
    font-size: 12px;
    font-weight:bold;
    padding:4px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    text-align: left;
    vertical-align: top;
}

table.aPrint td{
    color: black;
    font-size: 12px;
    font-weight:bold;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: top;
    text-align: left;

}

table.acPrint {
        height: 85px;
        vertical-align: middle;
        width: 30px
}
table.acPrint td {
        vertical-align: middle;
}

table.qPrint{
    border-collapse: collapse;
    width: 100%;
}

table.qPrint th{

    padding:4px;
    text-align: center;
}

table.qPrint td{

    text-align:center;
    vertical-align:middle;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;

    border-bottom: 1px solid #E9E9D1;
    border-top: 1px solid #E9E9D1;
    border-left: 1px solid #E9E9D1;
    border-right: 1px solid #E9E9D1;
}